[Desktop Entry]
Encoding=UTF-8
Name=Karmack4
Comment=A hello world widget in QML
Icon=chronometer
Type=Service

X-Plasma-API=python
X-Plasma-MainScript=code/main.py

X-KDE-PluginInfo-Author=Martin Stiborský
X-KDE-PluginInfo-Email=martin.stiborsky@gmail.com
X-KDE-PluginInfo-Name=karmack4
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://todo/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
